requests
django
djangorestframework
django-filter
djangorestframework-simplejwt
django-colorfield
PyJWT
drf-yasg
gunicorn
psycopg2-binary
python-dotenv
pytest
pytest-django
pytest-pythonpath
flake8
pep8-naming
flake8-broken-line
flake8-return
flake8-isort
